/*.hello_box{
  width: 1300px;
  padding: 0 !important;
  margin: 0 auto;
}
.hello_box .box_title{
  background-color: #618CC9;
  height: 100px;
}
.hello_box .box_body{
  background-color: #efefef;
  height: 800px;
  padding-top: 30px;
}

.hello_header{
  border: 1px solid #cdcdcd;
    padding: 10px;
    text-align: center;
    background-color: #f29d34;
}
.hello_menu{
  background-color: #fafafa;
}
.hello_body{
  background-color: #fafafa;
}*/

* {
  font-family: Arial, Helvetica, sans-serif;
}

