<div class="layout">
    <div class="layer_top">
        <div class="logo">NetApp</div>
        <div class="title">NetApp Insight Manager</div>
        <div class="setting">
            <div id="setting">설정</div>
        </div>
        <div class="exit">
            <div id="exit">나가기</div>
        </div>
    </div>
    <div class="layer_body">
        <div class="view_box">
            <div class="view_body">

                <!-- router area-->
                
            </div>
            <div class="view_menu">
                <div class="col-menu"><div id="total-map">Total Map</div></div>
                <div class="col-menu"><div id="physical-view">Physical View</div></div>
                <div class="col-menu"><div id="logical-view">Logical View</div></div>
            </div>

        </div>
        <div class="table_box"></div>
    </div>
</div>